.srx-1 {
  min-height: 400px;
  position: relative;
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 2%;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(121, 134, 203, 0.6);
}

p.content-t {
  font-size: 17px !important;
}

.custom-title {
  position: relative;
}

.custom-title h2 {
  font-size: 30px;
  z-index: 2;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.custom-title > div {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 55px;
  z-index: 1;
}

.wlplp {
  background-image: url(https://wallpaperaccess.com/full/3047390.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-field label {
  color: #000;
}

.input-field .prefix.active {
  color: #283593;
}

.input-field input[type=text]:focus + label,
.input-field input[type=name]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=tel]:focus + label, 
.input-field textarea:focus + label {
  color: #283593 !important;
}

.input-field input[type=text],
.input-field input[type=name],
.input-field input[type=email],
.input-field input[type=tel],
.input-field textarea {
  border-bottom: 1px solid #283593 !important;
}

.flow-text {
  position: relative;
  top: -30px;
}

.card-image img {
  min-height: 170px;
  height: auto;
  width: 100%;
}

.card-image img:not(.lulop img) {
  filter: grayscale(70%);
}

.f-line {
  border-top: 3px solid #283593;
  margin-bottom: 40px;
}

.card-panel {
  min-height: 266px;
}

.title-team h2 {
  padding-bottom: 20px;
  font-size: 33px;
}

span.title {
  display: inline-block;
  margin-bottom: 5px;
}

p.indigo-text {
  padding-bottom: 6px;
}

@media screen and (max-width: 768px) {
  .title-team h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 360px) {
  .custom-title > div {
    display: none;
  }

  .custom-title h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .card-content span {
    font-size: 16px !important;
  }
  
  .card-action a {
    font-size: 8px;
  }
}
