* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.srx-1 {
  min-height: 500px;
  position: relative;
}

.sidenav span {
  border-top: 1px solid white !important;
  padding: 15px 10px !important;
}

.sidenav i {
  position: relative;
  top: -30px;
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 2%;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(121, 134, 203, 0.8)
}

label {
  width: 80% !important;
}

.input-field span {
  display: inline-block;
  border-bottom: 1px solid black;
}

p.content-t {
  font-size: 17px !important;
}

.custom-title {
  position: relative;
}

.custom-title h2 {
  font-size: 30px;
  z-index: 2;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.custom-title > div {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 55px;
  z-index: 1;
}

.card-border {
  background-color: #283593;
  padding: 2px 10px;
  font-size: 14px;
}

.wlplp {
  background-image: url(https://img.freepik.com/premium-photo/abstract-luxury-gradient-blue-background_1258-24578.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-field label {
  color: #000;
}

.input-field .prefix.active {
  color: #283593;
}

.input-field input[type=text]:focus + label,
.input-field input[type=name]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=tel]:focus + label, 
.input-field textarea:focus + label {
  color: #283593 !important;
}

.input-field input[type=text],
.input-field input[type=name],
.input-field input[type=email],
.input-field input[type=tel],
.input-field textarea {
  border-bottom: 1px solid #283593 !important;
}

.card-image img {
  min-height: 170px;
  height: auto;
  width: 100%;
}

.card-image img {
  filter: grayscale(10%);
}

.f-line {
  border-top: 3px solid #283593;
  margin-bottom: 40px;
}

.card-panel {
  min-height: 266px;
}

.title-team h2 {
  padding-bottom: 20px;
  font-size: 33px;
}

span.title {
  display: inline-block;
  margin-bottom: 5px;
}

p.indigo-text {
  padding-bottom: 6px;
}

footer .cpr-r {
  text-align: center !important;
  position: relative;
  top: -10px;
  z-index: 1 !important;
}

@media screen and (max-width: 992px) {
  footer {
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) {
  .title-team h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 360px) {
  .sidenav span {
  border-top: 1px solid white !important;
  padding: 15px 0;
  }
  
  .custom-title > div {
    display: none;
  }

  .custom-title h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .card-border {
    font-size: 12px !important;
  }

  p.content-t {
    font-size: 15px !important;
  }

  p.content-w {
    position: relative;
    top: -15px;
    font-size: 13px !important;
  }

  .card-content span {
    font-size: 16px !important;
    position: relative;
    top: -20px;
  }
  
  .card-action a {
    font-size: 8px;
  }

  .card {
    height: 230px !important;
  }
}
